# ==========================
# Python Cache
# ==========================
__pycache__/
*.py[cod]
*.pyo

# ==========================
# Virtual Environment
# ==========================
ecom/
venv/
env/

# ==========================
# Environment Variables
# ==========================
.env

# ==========================
# SQLite Database
# ==========================
db.sqlite3

# ==========================
# Uploaded Media
# ==========================
media/

# ==========================
# Collected Static Files
# ==========================
staticfiles/

# ==========================
# IDE
# ==========================
.vscode/
.idea/

# ==========================
# OS Files
# ==========================
.DS_Store
Thumbs.db